@font-face {
    font-family: "Futura Condensed";
    src: url("Futura_Condenced-Normal.woff") format("truetype");
}


html, body {
    margin: 0;
    font-family: "Futura Condensed";
    background-color: hsl(300, 100%, 5%);
    text-align: center;
}

button {
    font-family: "Futura Condensed";
}

.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-size: 1vw;


    span {
        display: flex;
        color: white;
        margin-top: 3vh;
    }

    input {
        width: 15vw;
        font-size: 1.5vw;
    }

    button {
        margin-top: calc(3vh + 1vw);
        width: 5vw;
        font-size: 1.5vw;
    }
}

.game {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.screenLightLeft {
    position: absolute;
    left: 0;
    width: 2vw;
    height: 100vh;
    background: linear-gradient(to right, hsla(120, 100%, 50%, 0.4), transparent);
}

.screenLightRight {
    position: absolute;
    right: 0;
    width: 2vw;
    height: 100vh;
    background: linear-gradient(to left, hsla(120, 100%, 50%, 0.4), transparent);
}

.screenLightBottom {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 5vh;
    background: linear-gradient(to top, hsla(120, 100%, 50%, 0.4), transparent);
}


.questionsTable {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 1vh;

    .categoryRow {
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        border-bottom: 1px solid hsl(0, 100%, 80%);

        &:first-child {
            border-top: 1px solid hsl(0, 100%, 80%);
        }

        .category {
            display: flex;
            text-align: center;
            color: white;
            align-items: center;
            justify-content: center;
            word-wrap: normal;
            font-size: 2vw;
            border-left: 1px solid hsl(0, 100%, 80%);
        }
        
        .priceButton {
            display: flex;
            text-align: center;
            color: wheat;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            cursor: pointer;
            border-left: 1px solid hsl(0, 100%, 80%);
            border-right: 1px solid transparent;
            border-bottom: 1px solid transparent;
            border-top: 1px solid transparent;
            font-size: 2vw;
    
            &:hover {
                border-left: 1px solid yellow;
                border-right: 1px solid yellow;
                border-bottom: 1px solid yellow;
                border-top: 1px solid yellow;
            }

            &:last-child {
                border-right: 1px solid hsl(0, 100%, 80%);
            }
        }
    }
}

.splashScreen {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 20vw;
    color: white;
    padding: 3vw;
    font-size: 4vw;

    align-items: center;
    justify-content: center;
}

.questionBlock {
    display: flex;
    color: white;
    padding: 1vw;
    align-items: center;
    justify-content: center;

    .quiestionImage {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .audioSvg {
        width: 50%;
        height: 50%;
        opacity: 0.4;

        &.playing {
            opacity: 1.0;
        }
    }
}

.answerBlock {
    display: flex;
    color: white;
    padding: 1vw;
    align-items: center;
    justify-content: center;

    font-size: 3vw;
}

video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    animation-duration: 1s;
    animation-name: fadein;
}

.players-container {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;

    padding-top: 30px;
}

.player {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 9vw;
    justify-content: center;
    color: white;
    padding: 10px;

    &.local .avatar {
        cursor: pointer;
    }

    .avatar {
        width: 9vw;
        height: 9vw;
        object-fit: contain;
    }

    .points {
        width: 100%;
        text-align: center;
        font-size: 1vw;
    }

    .name {
        width: 100%;
        text-align: center;
        font-size: 1vw;
    }

    &.answers {
        border: 1px solid hsla(120, 100%, 50%, 1.0);
    }

    &.selectsNextQuestion {
        border: 1px solid rgb(255, 196, 0);
    }

    .icons {
        width: 100%;
        height: 1.5vw;
        img {
            width: 1.5vw;
            height: 1.5vw;
        }
    }
}

.answerField {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 2vw;
}

.timer {
    margin-top: 20px;
    width: 65vw;
    height: 2px;
    div {
        height: 100%;
        background-color: wheat;
    }
}

.adminAnswerConfirmation {
    color: white;
    font-size: 1vw;
    width: 100vw;

    button {
        width: 3vw;
        font-size: 1vw;
        padding: 5px;
    }
}

.fullscreen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


.meathookAnimation {
    animation-duration: 7500ms;
    animation-name: kek;
}

@keyframes fadein {
    from {
        opacity: 0.0;
    }

    to {
        opacity: 1.0;
    }
}

@keyframes kek {
    from {
        transform: scale(0.0);
    }
    
    3% {
        transform: scale(0.0);
    }

    6% {
        transform: scale(0.4);
    }

    9% {
        transform: scale(0.0);
    }

    11% {
        transform: scale(0.0);
    }

    14% {
        transform: scale(0.8);
    }

    17% {
        transform: scale(0.0);
    }

    17% {
        transform: scale(0.0);
        animation-timing-function: ease-in;
    }

    20% {
        transform: scale(0.9);
    }

    28% {
        transform: scale(0.8) rotate(1000deg);
    }

    30% {
        transform: scale(0.6) rotate(700deg);
    }

    33% {
        transform: scale(0.5) rotate(300deg);
    }

    41% {
        transform: scale(0.8) rotate(1300deg);
    }

    44% {
        transform: scale(0.8) rotate(1000deg);
    }

    50% {
        transform: scale(0.6) rotate(600deg);
    }

    58% {
        transform: scale(0.8) rotate(1600deg);
    }

    59% {
        transform: scale(0.4) rotate(1600deg);
    }

    67% {
        transform: scale(0.8) rotate(2600deg);
    }

    70% {
        transform: scale(0.8) rotate(1700deg);
    }

    74% {
        transform: scale(0.6) rotate(2000deg);
    }

    82% {
        transform: scale(0.8) rotate(3000deg);
    }

    90% {
        transform: scale(0.8) rotate(4000deg);
    }

    90% {
        transform: scale(0.8) rotate(4000deg);
        opacity: 1.0;
    }

    to {
        transform: scale(20.0) rotate(3000deg);
        opacity: 0.0;
    }
}